
// Brand colors
$brand-success: #1fd78a;
$brand-danger: #da3020;
$brand-primary: #482ce6;
$brand-warning: #e9b72c;

// Shades of gray
$black: #000;
$gray-darkest: #121111;
$gray-darker: lighten($gray-darkest, 15);
$gray-dark: lighten($gray-darkest, 30);
$gray: lighten($gray-darkest, 45);
$gray-light: lighten($gray-darkest, 60);
$gray-lighter: lighten($gray-darkest, 75);
$gray-lightest: lighten($gray-darkest, 85);
$white: #fff;
$body-background: $white;


// Typography
$sans-serif:"Zalando Sans", sans-serif;
$serif: "EB Garamond", serif;
$base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;
$base-font-size: 16px;
$base-line-height: 1.8;

// Font colors
$base-font-color: $gray-darkest;
$base-font-dark: darken($brand-primary, 15);
$base-accent-color: $gray-dark;
$base-accent-highlighted-color: darken($base-accent-color, 15);

// border radius
$base-border-radius: 2px;

// Border color
$base-border-color: $gray-lightest;

// Effects
$base-transition-speed: .2s;
