// =============================================================================
// Fonts
// =============================================================================

@charset "UTF-8";

// Editorial Old
// =============================================================================

@font-face {
  font-family: 'Editorial old';
  font-style: normal;
  font-weight: 400;
  src: asset_url('editorial-old/PPEditorialOld-Regular.otf');
  src:
    asset_url('editorial-old/PPEditorialOld-Regular.otf?#iefix') format('embedded-opentype'),
    local('Lato Light'),
    local('PPEditorialOld-Regular.otf'),
    asset_url('editorial-old/PPEditorialOld-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Editorial old';
  font-style: italic;
  font-weight: 400;
  src: asset_url('editorial-old/PPEditorialOld-italic.otf');
  src:
    asset_url('editorial-old/PPEditorialOld-italic.otf?#iefix') format('embedded-opentype'),
    local('Lato Light'),
    local('PPEditorialOld-italic.otf'),
    asset_url('editorial-old/PPEditorialOld-italic.otf') format('truetype');
}

@font-face {
  font-family: 'Editorial old';
  font-style: normal;
  font-weight: 700;
  src: asset_url('editorial-old/PPEditorialOld-ultrabold.otf');
  src:
    asset_url('editorial-old/PPEditorialOld-ultrabold.otf?#iefix') format('embedded-opentype'),
    local('Lato Light'),
    local('PPEditorialOld-ultrabold.otf'),
    asset_url('editorial-old/PPEditorialOld-ultrabold.otf') format('truetype');
}


@font-face {
  font-family: 'Editorial old';
  font-style: italic;
  font-weight: 700;
  src: asset_url('editorial-old/PPEditorialOld-ultrabolditalic.otf');
  src:
    asset_url('editorial-old/PPEditorialOld-ultrabolditalic.otf?#iefix') format('embedded-opentype'),
    local('Lato Light'),
    local('PPEditorialOld-ultrabolditalic.otf'),
    asset_url('editorial-old/PPEditorialOld-ultrabolditalic.otf') format('truetype');
}